/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MIS ESTILOS */

/*Variables de color y fuentes de texto*/

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif/NotoSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif/NotoSerif-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/noto-serif/NotoSerif-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
:root {
    --main-color: rgba(7, 14, 88);
	--backnav-color: rgba(7, 14, 88, 0.7);

	--link-color: rgb(255, 255, 255);
    --hover-color: rgb(255, 0, 0);

	--hovertwo-color: rgb(88, 101, 242);

	--sanserif-font: Helvetica, sans-serif;
	--serif-font: 'Noto Serif', serif;
}

/*Estilos generales*/

html {
	font-family: var(--serif-font);
	font-size: calc(1em + 0.25vw);
	max-height: 100%;
	max-width: 100%;
}

/*estilos aplicados al cuerpo (imagen de fondo, contenedores flexibles verticalmente y enlaces*/

.body1 {
	background-image: url("../img/portada-portrait.webp");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-weight: bold;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
	font-family: var(--sanserif-font);
}

/*estilos aplicados al encabezado*/

header {
	background-image: url("../img/header.webp");
	background-size: cover;
	display: flex;
	justify-content: center;
}

/*estilos aplicados a los menús de navegación*/

.nav1 {
	height: 10vh;
	margin: 1vh auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav1 ul {
	background-color: var(--backnav-color);
	padding: 1rem;
}
nav ul li {
	display: inline;
	margin: 0 1rem;
}
nav a {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--link-color);
	text-decoration: none;
	transition: color 0.5s ease;
}
nav a:hover {
	color: var(--hover-color);
}
.nav2 {
	background-color: var(--backnav-color);
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
	width: 50%;
}
.nav2 img {
	width: 20vw;
}
.nav2 ul {
	display: flex;
	justify-content: center;
	padding: 0.5rem 0 1rem;
}
.current {
	border-bottom: 1px solid;
}
.nav2 a {
	font-size: 1rem;
	margin: 0 auto;
	padding: 1rem 0 0.5rem;
}

/* estilos aplicados a los cuerpos principales de las páginas*/

main {
	color: var(--main-color);
	font-weight: lighter;
}
.main1 {
	height: 80vh;
}
.main1 img {
	margin: 0 auto;
	object-fit: cover;
}
.main2 {
	width: 90%;
	margin: 0 auto;
}
.main2 > * {
	margin: 0 auto 1.5rem;
}
main h1, main h2 {
	font-size: 2.5rem;
	margin: 2rem 0 1rem;
	text-align: center;
}
main h1 {
	font-weight: 900;
	padding-top: 2rem;
}
main h2 {
	font-weight: bold;
}
main h3 {
	font-size: 1.5rem;
	margin: 1rem 0;
}
.main2 img {
	width: 100%;
	height: 100%;
}
.main2 .articles img {
	clip-path: ellipse(300px 450px at center);
}
.main2 figcaption {
	font-size: 0.75rem;
	margin: 0.25rem 0 0;
	text-align: center;
}
.articles div {
	margin-bottom: 2rem;
}
button, .btn {
	display: inline-block;
	background-color: var(--backnav-color);
	border: none;
	border-radius: 0.5rem;
	color: var(--link-color);
	font-size: 1.25rem;
	margin: 1rem 0;
	padding: 0.8rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: transform 0.3s ease, background-color 0.5s ease-out;
}
button:hover, .btn:hover {
	background-color: var(--hover-color);
	transform: scale(1.1);
}
legend, label {
	padding: 1rem 0;
}
.lopd {
	font-size: 0.85rem;
}
.link {
	color: var(--hovertwo-color);
	text-decoration: underline dotted var(--hovertwo-color);
}
.link:hover {
	color: var(--hover-color);
	text-decoration: underline dotted var(--hover-color);
}
input {
	border: 1px solid grey;
	border-radius: 0.5rem;
	font-size: 1rem;
	margin: 1rem 0;
	padding: 0.75rem;
	width: 95%;
}
#privacy {
	border: 5px solid grey;
	margin: 3rem 0 2rem;
	width: 5%;
}
button {
	display: block;
}
ul li {
	margin: 1rem 0;
}
.mini .dd-mini {
	list-style-image: url("../img/damiano-mini.webp");
	list-style-position: inside;
}
.mini .va-mini {
	list-style-image: url("../img/victoria-mini.webp");
	list-style-position: inside;
}
.mini .tr-mini {
	list-style-image: url("../img/thomas-mini.jpg");
	list-style-position: inside;
}
.mini .et-mini {
	list-style-image: url("../img/ethan-mini.jpg");
	list-style-position: inside;
}
.chosen a {
	position: relative;
  	display: inline-block;
	width: 100%;
	height: 100%;
}
.youtube {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: logoAnimation 3s ease-in-out infinite;
}
@keyframes logoAnimation {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 0.1;
	}
}
.girlfriends {
	display: flex;
	flex-direction: row;
	text-align: center;
}
.girlfriends img {
	width: 75%;
	--_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
  	-webkit-mask-box-image: var(--_m);
            mask-image: var(--_m);
 	clip-path: polygon(-42% 0,50% 91%, 142% 0);
}
@supports not (-webkit-mask-box-image: var(--_m)) { 
	img {
	 	--_m:
	   		radial-gradient(at 70% 31%,var(--c) 29%,#0000 30%),
	   		radial-gradient(at 30% 31%,var(--c) 29%,#0000 30%),
	   		linear-gradient(#000, #000) bottom/100% 50% no-repeat;
	 	-webkit-mask: var(--_m);
				mask: var(--_m);
	}
}
ol li {
	list-style-type: number;
	margin: 1.5rem 0 2.5rem 2rem;
}
.main2 ol li img {
	height: 1rem;
	width: 1rem;
}

/*estilos aplicados a los pies de página*/

footer {
	color: var(--link-color);
}
footer img {
	width: 12.5vw;
}
footer a {
	color: var(--link-color);
	text-decoration: none;
	transition: color 0.5s ease;
}
footer a:hover {
	color: var(--hovertwo-color);
}
.footer1 {
	height: 10vh;
	margin-bottom: 1vh;
	text-align: center;
}
footer ul {
	display: flex;
	justify-content: center;
}
.footer1 ul li {
	font-size: 1.25rem;
	padding: 0.65rem;
}
footer p {
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem 1rem;
}
.footer2 {
	background-color: var(--main-color);
	display: flex;
	flex-direction: column;
	text-align: center;
}
.footer2 img {
	padding-top: 0.75rem;
}
.footer2 ul li {
	padding: 0.25rem 0.5rem;
}

/*MEDIA QUERIES*/

/*Dispositivos móviles pequeños (phone)*/

@media (max-width: 1920px) and (orientation: portrait) {
	.nav1 {
		width: 95%;
		height: 7.5vh;
	}
	nav a, .nav2 a {
		font-size: 0.75rem;
	}
	.nav2 {
		width: 95%;
	}
	.nav2 img {
		width: 30vw;
	}
	.main1 {
		height: 95vh;
	}
	.chosen {
		height: 50%;
		width: 50%;
	}
	footer a, .footer1 p > a {
		font-size: 0.75rem;
	}
	.footer2 p {
		font-size: 0.40rem;
	}
}

/*Dispositivos móviles medianos (tablet)*/

@media (max-width: 1920px) and (orientation: landscape) {
	.body1 {
		background-image: url("../img/portada-fullhd.webp");
		background-size: cover;
		display: flex;
		flex-direction: column;
		height: 100vh;
		font-weight: bold;
	}
	.main2 .articles img {
		clip-path: ellipse(150px 250px at center);
	}
	.articles {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
		grid-template-areas:
			"area1 area2 area2"
			"area3 area3 area4"
			"area5 area6 area6"
			"area7 area7 area8";
		margin-bottom: 0;
		padding: 1rem;
	}
	.grid-pr-item1 {
		grid-area: area1;
		transform: rotate(-5deg);
	}
	.grid-pr-item2 {
		grid-area: area2;
		margin: auto 0;
	}
	.grid-pr-item3 {
		grid-area: area4;
		transform: rotate(5deg);
	}
	.grid-pr-item4 {
		grid-area: area3;
		margin: auto 0;
	}
	.grid-pr-item5 {
		grid-area: area5;
		transform: rotate(-5deg);
	}
	.grid-pr-item6 {
		grid-area: area6;
		margin: auto 0;
	}
	.grid-pr-item7 {
		grid-area: area8;
		transform: rotate(5deg);
	}
	.grid-pr-item8 {
		grid-area: area7;
		margin: auto 0;
	}
	.chosen {
		height: 40%;
		width: 40%;
	}
}

/*Dispositivos con formato de escritorio (desktop)*/

@media (min-width: 1921px) {
    .body1 {
		background-image: url("../img/portada-4k.webp");
		background-size: cover;
		display: flex;
		flex-direction: column;
		height: 100vh;
		font-weight: bold;
	}
	.main2 {
		width: 60%;
		margin: 0 auto;
	}
	.main2 > * {
		width: 80%;
		margin: 0 auto 1.5rem;
	}
	.main2 .articles img {
		clip-path: ellipse(150px 250px at center);
	}
	.articles {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
		grid-template-areas:
			"area1 area2 area2"
			"area3 area3 area4"
			"area5 area6 area6"
			"area7 area7 area8";
		margin-bottom: 0;
		padding: 1rem;
	}
	.grid-pr-item1 {
		grid-area: area1;
		transform: rotate(-5deg);
	}
	.grid-pr-item2 {
		grid-area: area2;
		margin: auto 0;
		padding-top: 2rem;
	}
	.grid-pr-item3 {
		grid-area: area4;
		transform: rotate(5deg);
	}
	.grid-pr-item4 {
		grid-area: area3;
		margin: auto 0;
		padding-top: 2rem;
	}
	.grid-pr-item5 {
		grid-area: area5;
		transform: rotate(-5deg);
	}
	.grid-pr-item6 {
		grid-area: area6;
		margin: auto 0;
		padding-top: 2rem;
	}
	.grid-pr-item7 {
		grid-area: area8;
		transform: rotate(5deg);
	}
	.grid-pr-item8 {
		grid-area: area7;
		margin: auto 0;
		padding-top: 2rem;
	}
	.chosen {
		height: 30%;
		width: 30%;
	}
}
